################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/King of Tokyo/v14/.suo
/ConsoleTesting/bin/Debug/GamePieces.pdb
/ConsoleTesting/bin/Debug/GamePieces.dll
/ConsoleTesting/bin/Debug/DataStructures.pdb
/ConsoleTesting/bin/Debug/DataStructures.dll
/ConsoleTesting/bin/Debug/ConsoleTesting.vshost.exe.manifest
/ConsoleTesting/bin/Debug/ConsoleTesting.vshost.exe
/ConsoleTesting/bin/Debug/ConsoleTesting.pdb
/ConsoleTesting/bin/Debug/ConsoleTesting.exe
/ConsoleTesting/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ConsoleTesting/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ConsoleTesting/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ConsoleTesting/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ConsoleTesting/obj/Debug/ConsoleTesting.pdb
/ConsoleTesting/obj/Debug/ConsoleTesting.exe
/ConsoleTesting/obj/Debug/ConsoleTesting.csprojResolveAssemblyReference.cache
/ConsoleTesting/obj/Debug/ConsoleTesting.csproj.FileListAbsolute.txt
/Controllers/bin/Debug/Networking.pdb
/Controllers/bin/Debug/Networking.dll
/Controllers/bin/Debug/GamePieces.pdb
/Controllers/bin/Debug/GamePieces.dll
/Controllers/bin/Debug/DataStructures.pdb
/Controllers/bin/Debug/DataStructures.dll
/Controllers/bin/Debug/Controllers.pdb
/Controllers/bin/Debug/Controllers.dll
/Controllers/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Controllers/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Controllers/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Controllers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Controllers/obj/Debug/Controllers.pdb
/Controllers/obj/Debug/Controllers.dll
/Controllers/obj/Debug/Controllers.csprojResolveAssemblyReference.cache
/Controllers/obj/Debug/Controllers.csproj.FileListAbsolute.txt
/Data Structures/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Data Structures/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Data Structures/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Data Structures/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Data Structures/obj/Debug/DataStructures.pdb
/Data Structures/obj/Debug/DataStructures.dll
/Data Structures/obj/Debug/Data Structures.csproj.FileListAbsolute.txt
/Data Structures/bin/Debug/DataStructures.pdb
/Data Structures/bin/Debug/DataStructures.dll
/Game Pieces/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Game Pieces/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Game Pieces/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Game Pieces/obj/Debug/GamePieces.pdb
/Game Pieces/obj/Debug/GamePieces.dll
/Game Pieces/obj/Debug/Game Pieces.csprojResolveAssemblyReference.cache
/Game Pieces/obj/Debug/Game Pieces.csproj.FileListAbsolute.txt
/Game Pieces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Game Pieces/bin/Debug/GamePieces.pdb
/Game Pieces/bin/Debug/GamePieces.dll
/Game Pieces/bin/Debug/DataStructures.pdb
/Game Pieces/bin/Debug/DataStructures.dll
/GameEngine/Content/bin/DesktopGL/NewSpriteFont.xnb
/GameEngine/bin/Windows/x86/Debug/OpenTK.dll
/GameEngine/bin/Windows/x86/Debug/NVorbis.dll
/GameEngine/bin/Windows/x86/Debug/MonoGame.Framework.dll
/GameEngine/bin/Windows/x86/Debug/GamePieces.pdb
/GameEngine/bin/Windows/x86/Debug/GamePieces.dll
/GameEngine/bin/Windows/x86/Debug/GameEngine.vshost.exe.manifest
/GameEngine/bin/Windows/x86/Debug/GameEngine.vshost.exe
/GameEngine/bin/Windows/x86/Debug/GameEngine.pdb
/GameEngine/bin/Windows/x86/Debug/GameEngine.exe
/GameEngine/bin/Windows/x86/Debug/DataStructures.pdb
/GameEngine/bin/Windows/x86/Debug/DataStructures.dll
/GameEngine/bin/Windows/x86/Debug/Controllers.pdb
/GameEngine/bin/Windows/x86/Debug/Controllers.dll
/GameEngine/bin/Windows/x86/Debug/Content/NewSpriteFont.xnb
/Views/obj/Debug/Views.pdb
/Views/obj/Debug/Views.dll
/Views/obj/Debug/Views.csprojResolveAssemblyReference.cache
/Views/obj/Debug/Views.csproj.FileListAbsolute.txt
/Views/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Views/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Views/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Views/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Views/bin/Debug/Views.pdb
/Views/bin/Debug/Views.dll
/Views/bin/Debug/GamePieces.pdb
/Views/bin/Debug/GamePieces.dll
/Views/bin/Debug/DataStructures.pdb
/Views/bin/Debug/DataStructures.dll
/Views/bin/Debug/Controllers.pdb
/Views/bin/Debug/Controllers.dll
/Networking/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Networking/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Networking/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Networking/obj/Debug/Networking.pdb
/Networking/obj/Debug/Networking.dll
/Networking/obj/Debug/Networking.csproj.FileListAbsolute.txt
/Networking/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GameEngine/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GameEngine/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GameEngine/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GameEngine/obj/x86/Debug/GameEngine.pdb
/GameEngine/obj/x86/Debug/GameEngine.exe
/GameEngine/obj/x86/Debug/GameEngine.csprojResolveAssemblyReference.cache
/GameEngine/obj/x86/Debug/GameEngine.csproj.FileListAbsolute.txt
/GameEngine/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GameEngine/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/GameEngine/Content/bin/NewSpriteFont.xnb
/GameEngine/Content/obj/NewSpriteFont.mgcontent
/GameEngine/Content/obj/DesktopGL/NewSpriteFont.mgcontent
/GameEngine/Content/obj/DesktopGL/.mgcontent
/GameEngine/Content/obj/.mgcontent
/GameEngine/Content/NewSpriteFont.spritefont
/Networking/bin/Debug/Networking.pdb
/Networking/bin/Debug/Networking.dll
